body {
    background-color: rgba(211, 219, 132, 0.404);
}

#container-h1 {
    text-align: center;
}

#headline {
    font-family: 'Itim', cursive;
    font-size: 3.5rem;
}

.btn-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-inicio {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: rgba(67, 214, 116, 0.623);
    color: antiquewhite;
    border-radius: 10px;
}

.btn-inicio:hover {
    font-size: 2.5rem;
    background-color: rgba(74, 199, 49, 0.705);
    transition: 1s;
}

.btn-new-word {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: rgba(230, 235, 185, 0.651);
    border-radius: 10px;
}

.btn-new-word:hover {
    font-size: 2.5rem;
    background-color: rgba(216, 185, 47, 0.705);
    transition: 1s;
}

.canvas {
    text-align: center;
}

#footer {
    text-align: center;
}