body {
    background-color: rgba(211, 219, 132, 0.404);
}

#container-h1 {
    text-align: center;
}

#headline {
    font-family: 'Itim', cursive;
    font-size: 3.5rem;
}

.btn-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-inicio {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: rgba(67, 214, 116, 0.623);
    color: antiquewhite;
    border-radius: 10px;
}

.btn-inicio:hover {
    font-size: 2.5rem;
    background-color: rgba(74, 199, 49, 0.705);
    transition: 1s;
}

.canvas {
    text-align: center;
}

.popup-container {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;
   align-items: center;
   justify-content: center;
}

.popup {
    background: rgba(48, 111, 153, 0.705);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

#mensagem {
    font-family: 'Itim', cursive;
    color: beige;
}

.btn-reiniciar {
    cursor: pointer;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
}

#footer {
    font-family: 'Itim', cursive;
    text-align: center;
}

@media screen and (max-width: 720px) {
    #forca{
        width: 360px;
        height: 275px;
        size-adjust: fit-content;
    }
}